In [1]:
import pandas as pd

In [12]:
#Rodar uma vez, pra ele mostrar todas as colunas
pd.set_option('display.max_columns', 50)

In [13]:
df = pd.read_csv('Loan_Default.csv')

df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,Neg_ammortization,interest_only,lump_sum_payment,property_value,construction_type,occupancy_type,Secured_by,total_units,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,116500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,118000.0,sb,pr,home,1U,1740.0,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,206500,NaN,NaN,NaN,360.0,not_neg,not_int,lpsm,NaN,sb,pr,home,1U,4980.0,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,406500,4.56,0.2000,595.0,360.0,neg_amm,not_int,not_lpsm,508000.0,sb,pr,home,1U,9480.0,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,456500,4.25,0.6810,NaN,360.0,not_neg,not_int,not_lpsm,658000.0,sb,pr,home,1U,11880.0,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,696500,4.00,0.3042,0.0,360.0,not_neg,not_int,not_lpsm,758000.0,sb,pr,home,1U,10440.0,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [3]:
df['year'].value_counts()

year
2019    148670
Name: count, dtype: int64

In [4]:
df['loan_limit'].value_counts()

loan_limit
cf     135348
ncf      9978
Name: count, dtype: int64

In [5]:
df['Gender'].value_counts()

Gender
Male                 42346
Joint                41399
Sex Not Available    37659
Female               27266
Name: count, dtype: int64

In [64]:
df[df['Gender']=='Sex Not Available']['business_or_commercial'].value_counts()

business_or_commercial
nob/c    32068
b/c       5591
Name: count, dtype: int64

In [6]:
df['approv_in_adv'].value_counts()

approv_in_adv
nopre    124621
pre       23141
Name: count, dtype: int64

In [7]:
df['loan_type'].value_counts()

loan_type
type1    113173
type2     20762
type3     14735
Name: count, dtype: int64

In [8]:
df['loan_purpose'].value_counts()

loan_purpose
p3    55934
p4    54799
p1    34529
p2     3274
Name: count, dtype: int64

In [9]:
df['Credit_Worthiness'].value_counts()

Credit_Worthiness
l1    142344
l2      6326
Name: count, dtype: int64

In [10]:
df['open_credit'].value_counts()

open_credit
nopc    148114
opc        556
Name: count, dtype: int64

In [11]:
df['business_or_commercial'].value_counts()

business_or_commercial
nob/c    127908
b/c       20762
Name: count, dtype: int64

In [15]:
df['loan_amount'].unique()

array([ 116500,  206500,  406500,  456500,  696500,  706500,  346500,
        266500,  376500,  436500,  136500,  466500,  226500,   76500,
        356500,  156500,  586500,  306500,  316500,  336500,  426500,
        476500,  196500,  186500,  246500,  216500,  506500,  656500,
        256500,  396500,  166500,  236500,  866500,  416500,  386500,
        596500,  606500,   86500,  286500,  146500,  446500,  636500,
        486500,  326500,   56500,  906500,  496500,  106500,  126500,
        296500,  176500, 1376500,  566500,  686500,  556500,  676500,
        366500,  276500,  716500,   66500,  616500,   96500,  826500,
         26500,  666500,  546500,  986500,  526500, 1226500,  726500,
       1486500, 1416500,  536500,  796500,  516500,   46500,  876500,
        576500,  626500, 1506500,  886500,  816500,  646500,  776500,
        746500,  736500,  896500,  836500,  806500, 1386500,  976500,
        926500,  786500,  766500, 1176500, 2006500,  756500, 1136500,
        966500, 1356500, 1056500, 1546500, 1186500,  996500, 1496500,
        916500,  936500,   36500, 1456500, 1146500, 1276500, 1046500,
       1156500, 1326500, 3006500, 1366500, 1006500, 1466500, 1126500,
       1236500, 3576500, 1096500, 1166500, 1806500, 1406500,  846500,
       1036500, 1026500, 1206500, 1016500, 2106500, 1396500, 1266500,
       1606500,  946500, 1316500, 1676500, 1346500, 1076500,  956500,
       1116500, 1716500, 1086500, 1216500, 1436500, 1106500, 2396500,
       1246500, 1066500, 1256500, 1286500, 2476500, 1196500,  856500,
       1446500, 1756500, 1306500, 1646500, 1786500, 1556500, 1586500,
       1516500, 1746500, 1336500, 2206500, 2506500, 1686500, 1616500,
       2606500, 1706500, 1726500, 1426500, 1476500, 2926500, 1626500,
       2126500, 2056500, 1636500, 1926500, 1576500, 1776500, 1906500,
       1296500, 1936500, 1896500, 2406500, 2706500, 2086500, 2146500,
       2186500, 1656500, 1846500, 1566500, 1966500, 1916500, 3346500,
       1886500, 1826500, 1696500, 2986500, 2596500, 1596500, 1836500,
       2076500,   16500, 1526500, 2626500, 2226500, 2276500, 2256500,
       1956500], dtype=int64)

In [17]:
df['rate_of_interest'].unique()

array([  nan, 4.56 , 4.25 , 4.   , 3.99 , 4.5  , 4.125, 4.875, 3.49 ,
       4.375, 3.625, 3.175, 2.99 , 4.99 , 5.25 , 3.75 , 3.375, 3.25 ,
       2.75 , 3.875, 3.5  , 4.75 , 3.125, 5.19 , 4.49 , 2.875, 5.125,
       4.625, 3.7  , 5.   , 3.   , 5.375, 4.18 , 3.69 , 5.5  , 3.65 ,
       5.75 , 3.775, 3.56 , 5.625, 6.24 , 4.475, 3.4  , 2.925, 3.925,
       5.74 , 5.875, 3.45 , 4.275, 2.975, 3.725, 2.85 , 3.675, 3.55 ,
       3.93 , 2.375, 3.85 , 3.525, 2.725, 2.5  , 2.6  , 5.99 , 5.49 ,
       8.   , 3.025, 3.8  , 2.775, 3.05 , 3.325, 6.   , 3.825, 3.15 ,
       3.1  , 4.4  , 3.3  , 4.05 , 6.75 , 4.025, 3.475, 2.625, 3.225,
       3.575, 4.175, 3.9  , 2.95 , 3.075, 3.275, 7.   , 3.425, 5.69 ,
       5.3  , 3.2  , 3.6  , 2.65 , 3.35 , 7.75 , 4.225, 2.25 , 3.95 ,
       4.7  , 2.125, 2.8  , 0.   , 4.2  , 3.975, 4.075, 2.675, 7.375,
       4.44 , 4.865, 4.15 , 6.125, 4.1  , 6.375, 6.5  , 4.35 , 4.3  ,
       6.25 , 2.475, 4.425, 4.525, 7.5  , 4.55 , 4.95 , 4.82 , 6.875,
       4.325, 2.575, 2.9  , 3.74 , 7.125, 2.7  ])

In [22]:
print(len(df['Interest_rate_spread'].unique()))
df['Interest_rate_spread'].unique()

22517

array([    nan,  0.2   ,  0.681 , ..., -0.9199,  0.7874, -0.3247])

In [25]:
print(len(df['Upfront_charges'].unique()))
df['Upfront_charges'].unique()

58272

array([    nan,  595.  ,    0.  , ..., 3113.06, 1226.64, 4323.33])

In [26]:
df['term'].value_counts()

term
360.0    121685
180.0     12981
240.0      5859
300.0      2822
324.0      2766
120.0       510
144.0       263
348.0       260
336.0       213
96.0        194
312.0       185
156.0       174
216.0       115
276.0       100
132.0        93
288.0        90
168.0        82
228.0        74
204.0        59
264.0        43
108.0        33
192.0        17
252.0         8
165.0         1
280.0         1
322.0         1
Name: count, dtype: int64

In [27]:
df['Neg_ammortization'].value_counts()

Neg_ammortization
not_neg    133420
neg_amm     15129
Name: count, dtype: int64

In [28]:
df['interest_only'].value_counts()

interest_only
not_int     141560
int_only      7110
Name: count, dtype: int64

In [29]:
df['lump_sum_payment'].value_counts()

lump_sum_payment
not_lpsm    145286
lpsm          3384
Name: count, dtype: int64

In [33]:
len(df['property_value'].unique())
df['property_value'].unique()

array([1.1800e+05,        nan, 5.0800e+05, 6.5800e+05, 7.5800e+05,
       1.0080e+06, 4.3800e+05, 3.0800e+05, 4.7800e+05, 6.8800e+05,
       1.6800e+05, 7.0800e+05, 2.5800e+05, 2.9800e+05, 1.3800e+05,
       3.6800e+05, 5.9800e+05, 7.4800e+05, 5.5800e+05, 1.9800e+05,
       4.4800e+05, 4.2800e+05, 5.6800e+05, 2.1800e+05, 4.6800e+05,
       2.2800e+05, 3.1800e+05, 3.3800e+05, 5.3800e+05, 4.0800e+05,
       1.0180e+06, 1.1080e+06, 4.1800e+05, 5.2800e+05, 2.4800e+05,
       1.5080e+06, 6.0800e+05, 6.6800e+05, 8.0800e+05, 9.4800e+05,
       1.2800e+05, 2.3800e+05, 7.1800e+05, 8.8800e+05, 1.4800e+05,
       6.2800e+05, 9.2800e+05, 2.0800e+05, 1.1980e+06, 1.8800e+05,
       5.8800e+05, 1.3080e+06, 6.7800e+05, 3.5800e+05, 2.8800e+05,
       2.0080e+06, 5.7800e+05, 3.4080e+06, 3.4800e+05, 8.8000e+04,
       4.9800e+05, 8.1800e+05, 7.6800e+05, 3.8800e+05, 6.1800e+05,
       8.9800e+05, 2.7800e+05, 9.7800e+05, 1.7080e+06, 8.5800e+05,
       4.5800e+05, 6.3800e+05, 1.2080e+06, 6.4800e+05, 9.0800e+05,
       1.1380e+06, 7.9800e+05, 3.7800e+05, 1.5800e+05, 8.2800e+05,
       3.9800e+05, 1.0800e+05, 1.2680e+06, 1.0680e+06, 7.8000e+04,
       4.8800e+05, 1.2980e+06, 5.4800e+05, 7.8800e+05, 5.1800e+05,
       9.3800e+05, 1.7800e+05, 8.3800e+05, 1.7580e+06, 3.2800e+05,
       2.1280e+06, 3.8480e+06, 9.9800e+05, 7.3800e+05, 7.7800e+05,
       2.3980e+06, 7.2800e+05, 9.8000e+04, 9.5800e+05, 2.6800e+05,
       6.8000e+04, 8.7800e+05, 6.9800e+05, 2.6080e+06, 1.0480e+06,
       9.8800e+05, 8.4800e+05, 8.6800e+05, 1.5380e+06, 2.3080e+06,
       1.9480e+06, 1.2580e+06, 1.1280e+06, 1.3380e+06, 1.0280e+06,
       1.2280e+06, 1.0880e+06, 1.1680e+06, 1.4680e+06, 1.1580e+06,
       9.1800e+05, 3.1080e+06, 1.9080e+06, 1.2180e+06, 1.0780e+06,
       1.0380e+06, 1.3680e+06, 1.2380e+06, 2.7880e+06, 1.0580e+06,
       1.4380e+06, 1.1480e+06, 1.0980e+06, 1.4880e+06, 2.5980e+06,
       1.8080e+06, 1.6580e+06, 1.4180e+06, 2.1080e+06, 1.3580e+06,
       5.8080e+06, 1.6480e+06, 9.6800e+05, 2.8780e+06, 1.4280e+06,
       1.5180e+06, 3.8080e+06, 1.6080e+06, 2.0780e+06, 1.2480e+06,
       1.2780e+06, 3.3080e+06, 1.5680e+06, 1.4080e+06, 2.2080e+06,
       1.3280e+06, 1.1780e+06, 1.3780e+06, 1.9980e+06, 5.8000e+04,
       1.1180e+06, 4.8000e+04, 2.5080e+06, 1.5280e+06, 1.2880e+06,
       2.0580e+06, 1.4480e+06, 1.5580e+06, 1.5780e+06, 3.2580e+06,
       3.8000e+04, 2.8080e+06, 1.7980e+06, 1.8280e+06, 5.2580e+06,
       1.8680e+06, 1.4580e+06, 1.7280e+06, 2.4580e+06, 1.8880e+06,
       5.2080e+06, 1.6280e+06, 1.5480e+06, 4.4380e+06, 6.4080e+06,
       1.9580e+06, 1.6780e+06, 1.5880e+06, 1.3180e+06, 1.1880e+06,
       1.7780e+06, 3.5680e+06, 2.2580e+06, 2.1580e+06, 2.6180e+06,
       2.4080e+06, 3.0080e+06, 3.2080e+06, 1.6180e+06, 2.7080e+06,
       1.4780e+06, 6.5080e+06, 3.3680e+06, 3.0780e+06, 1.7880e+06,
       2.4780e+06, 4.3580e+06, 3.5580e+06, 2.4880e+06, 4.2080e+06,
       2.5580e+06, 3.5080e+06, 3.6580e+06, 2.4980e+06, 1.6680e+06,
       3.0680e+06, 2.6880e+06, 2.9080e+06, 1.7180e+06, 1.7380e+06,
       1.7480e+06, 1.3880e+06, 1.3980e+06, 1.8580e+06, 1.9680e+06,
       2.2280e+06, 1.9880e+06, 1.6380e+06, 2.8980e+06, 1.3480e+06,
       3.1280e+06, 2.3580e+06, 3.1980e+06, 2.5880e+06, 3.6880e+06,
       4.0080e+06, 3.0980e+06, 2.2980e+06, 1.8380e+06, 1.6980e+06,
       2.4180e+06, 4.8780e+06, 4.5080e+06, 1.9780e+06, 3.9080e+06,
       8.0000e+03, 1.6508e+07, 1.4980e+06, 5.0080e+06, 4.4980e+06,
       2.0480e+06, 2.1780e+06, 1.5980e+06, 1.6880e+06, 2.1980e+06,
       2.7580e+06, 3.1580e+06, 2.0380e+06, 2.3280e+06, 3.8180e+06,
       2.8380e+06, 5.3080e+06, 2.6780e+06, 2.7180e+06, 2.0280e+06,
       2.4280e+06, 1.9180e+06, 2.5280e+06, 2.2680e+06, 2.8000e+04,
       4.4580e+06, 2.5480e+06, 2.9480e+06, 2.8580e+06, 1.7680e+06,
       1.8780e+06, 4.4080e+06, 3.5780e+06, 2.2180e+06, 1.9280e+06,
       3.2980e+06, 3.8580e+06, 2.3380e+06, 4.7780e+06, 1.8180e+06,
       4.6080e+06, 3.2180e+06, 3.2680e+06, 1.8480e+06, 2.0980e+06,
       2.8880e+06, 2.6580e+06, 3.2280e+06, 2.5680e+06, 2.6280e+06,
       4.2580e+06, 1.1008e+07, 6.9080e+06, 3.0180e+06, 2.3780e+06,
       1.8980e+06, 2.8180e+06, 3.4880e+06, 2.3180e+06, 2.9680e+06,
       4.7580e+06, 2.3880e+06, 3.7880e+06, 2.1180e+06, 5.5080e+06,
       3.0280e+06, 2.2380e+06, 4.1580e+06, 1.9380e+06, 2.9280e+06,
       5.7580e+06, 2.2780e+06, 3.8780e+06, 4.0580e+06, 2.1480e+06,
       4.6480e+06, 2.9580e+06, 2.3680e+06, 3.0580e+06, 3.4280e+06,
       2.5380e+06, 2.9380e+06, 6.0580e+06, 3.4580e+06, 2.4680e+06,
       2.4380e+06, 4.2180e+06, 2.1880e+06, 3.2780e+06, 3.3780e+06,
       2.0880e+06, 2.8480e+06, 2.5780e+06, 2.1380e+06, 4.4480e+06,
       2.6680e+06, 4.0880e+06, 4.1080e+06, 3.0380e+06, 6.1080e+06,
       4.4280e+06, 2.7280e+06, 8.5080e+06, 3.7080e+06, 3.0880e+06,
       1.2008e+07, 4.6580e+06, 2.7780e+06, 1.0008e+07, 3.1680e+06,
       3.6080e+06, 2.5180e+06, 2.0680e+06, 3.7780e+06, 5.0580e+06,
       4.5580e+06, 3.7680e+06, 2.0180e+06, 2.7680e+06, 2.8280e+06,
       6.2080e+06, 4.2880e+06, 7.6080e+06, 2.4480e+06, 3.6780e+06,
       3.9680e+06, 9.2680e+06, 2.6380e+06, 4.9080e+06, 3.3280e+06,
       3.7280e+06, 4.9180e+06, 1.8000e+04, 3.1780e+06, 2.3480e+06,
       2.6980e+06])

In [35]:
df['construction_type'].value_counts()

construction_type
sb    148637
mh        33
Name: count, dtype: int64

In [36]:
df['occupancy_type'].value_counts()

occupancy_type
pr    138201
ir      7340
sr      3129
Name: count, dtype: int64

In [37]:
df['Secured_by'].value_counts()

Secured_by
home    148637
land        33
Name: count, dtype: int64

In [38]:
df['total_units'].value_counts()

total_units
1U    146480
2U      1477
3U       393
4U       320
Name: count, dtype: int64

In [41]:
print(len(df['income'].unique()))
df['income'].unique()

1002

array([ 1740.,  4980.,  9480., ..., 72060., 78720., 79920.])

In [42]:
df['credit_type'].value_counts()

credit_type
CIB     48152
CRIF    43901
EXP     41319
EQUI    15298
Name: count, dtype: int64

In [45]:
df['Credit_Score'].unique()

array([758, 552, 834, 587, 602, 864, 860, 863, 580, 788, 723, 501, 884,
       520, 773, 685, 846, 534, 629, 688, 668, 692, 620, 533, 518, 812,
       647, 683, 705, 701, 591, 889, 651, 716, 780, 799, 766, 868, 765,
       673, 876, 886, 772, 640, 798, 858, 543, 555, 603, 808, 519, 786,
       769, 556, 567, 632, 818, 584, 750, 838, 741, 820, 665, 783, 663,
       612, 739, 571, 870, 793, 804, 801, 711, 634, 764, 865, 593, 511,
       677, 774, 638, 644, 732, 586, 642, 872, 898, 734, 639, 506, 664,
       670, 577, 857, 653, 595, 787, 560, 613, 514, 867, 717, 619, 600,
       524, 883, 503, 887, 604, 648, 797, 806, 845, 815, 585, 729, 538,
       791, 671, 572, 755, 760, 578, 836, 900, 777, 667, 880, 568, 805,
       590, 892, 540, 869, 737, 831, 608, 803, 795, 674, 781, 545, 796,
       660, 850, 851, 794, 866, 611, 621, 862, 829, 848, 775, 733, 700,
       633, 702, 882, 686, 652, 844, 649, 557, 761, 569, 523, 740, 690,
       616, 782, 601, 809, 855, 768, 627, 854, 762, 746, 592, 703, 697,
       710, 522, 789, 693, 597, 680, 575, 694, 581, 678, 714, 871, 800,
       853, 718, 713, 874, 625, 626, 500, 695, 517, 759, 792, 822, 516,
       704, 605, 539, 598, 763, 515, 508, 529, 830, 551, 715, 802, 879,
       743, 699, 617, 661, 896, 856, 861, 767, 656, 875, 778, 893, 785,
       779, 565, 753, 852, 719, 744, 770, 614, 888, 547, 728, 618, 574,
       505, 807, 530, 814, 843, 635, 824, 559, 837, 847, 885, 630, 589,
       654, 724, 527, 738, 811, 546, 537, 594, 658, 583, 666, 742, 512,
       877, 706, 727, 698, 609, 623, 544, 645, 657, 712, 513, 771, 736,
       536, 828, 588, 730, 731, 646, 563, 525, 784, 725, 752, 756, 833,
       561, 570, 899, 890, 720, 722, 526, 553, 596, 549, 709, 735, 776,
       881, 669, 726, 535, 745, 636, 684, 827, 672, 573, 816, 707, 607,
       817, 873, 810, 679, 558, 624, 825, 708, 502, 659, 757, 599, 749,
       894, 541, 675, 615, 641, 682, 628, 582, 832, 550, 528, 509, 821,
       849, 691, 826, 662, 504, 676, 579, 689, 622, 721, 835, 532, 751,
       748, 610, 754, 878, 823, 562, 548, 631, 637, 606, 687, 564, 696,
       819, 839, 840, 747, 681, 566, 891, 790, 897, 542, 813, 859, 650,
       842, 521, 841, 531, 643, 655, 507, 576, 510, 554, 895], dtype=int64)

In [46]:
df['co-applicant_credit_type'].value_counts()

co-applicant_credit_type
CIB    74392
EXP    74278
Name: count, dtype: int64

In [47]:
df['age'].value_counts()

age
45-54    34720
35-44    32818
55-64    32534
65-74    20744
25-34    19142
>74       7175
<25       1337
Name: count, dtype: int64

In [48]:
df['submission_of_application'].value_counts()

submission_of_application
to_inst     95814
not_inst    52656
Name: count, dtype: int64

In [51]:
print(len(df['LTV'].unique()))
df['LTV'].unique()

8485

array([ 98.72881356,          nan,  80.01968504, ..., 151.8145161 ,
        41.49550706,  32.80201342])

In [52]:
df['Region'].value_counts()

Region
North         74722
south         64016
central        8697
North-East     1235
Name: count, dtype: int64

In [53]:
df['Security_Type'].value_counts()

Security_Type
direct      148637
Indriect        33
Name: count, dtype: int64

In [55]:
df['dtir1'].unique()

array([45., nan, 46., 42., 39., 40., 44., 30., 36., 51., 20., 31.,  6.,
       35., 34., 49., 37., 41., 38., 56., 23., 28., 11., 27., 55., 22.,
       24., 52., 33., 26., 47., 60., 25., 32., 10., 15., 53.,  7., 19.,
       48., 59., 57.,  9., 50., 21., 58., 29., 43., 17., 54., 13., 12.,
       16., 61., 18., 14.,  8.,  5.])

In [56]:
df['Status'].value_counts()

Status
0    112031
1     36639
Name: count, dtype: int64

In [65]:
print(len(df[df["construction_type"] == "mh"][["construction_type", "Secured_by", "Security_Type", "Status"]]))
df[df["construction_type"] == "mh"][["construction_type", "Secured_by", "Security_Type", "Status"]]

33

       construction_type Secured_by Security_Type  Status
7973                  mh       land      Indriect       1
32312                 mh       land      Indriect       1
34412                 mh       land      Indriect       1
35368                 mh       land      Indriect       1
36155                 mh       land      Indriect       1
41151                 mh       land      Indriect       1
44592                 mh       land      Indriect       1
46022                 mh       land      Indriect       1
47828                 mh       land      Indriect       1
56153                 mh       land      Indriect       1
59732                 mh       land      Indriect       1
60122                 mh       land      Indriect       1
62581                 mh       land      Indriect       1
68927                 mh       land      Indriect       1
82520                 mh       land      Indriect       1
85185                 mh       land      Indriect       1
90473                 mh       land      Indriect       1
91255                 mh       land      Indriect       1
104761                mh       land      Indriect       1
105639                mh       land      Indriect       1
106363                mh       land      Indriect       1
109160                mh       land      Indriect       1
109448                mh       land      Indriect       1
109934                mh       land      Indriect       1
120254                mh       land      Indriect       1
122468                mh       land      Indriect       1
123610                mh       land      Indriect       1
124614                mh       land      Indriect       1
125783                mh       land      Indriect       1
128515                mh       land      Indriect       1
140486                mh       land      Indriect       1
146525                mh       land      Indriect       1
148023                mh       land      Indriect       1

In [66]:
df[df["construction_type"] == "mh"]

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,Neg_ammortization,interest_only,lump_sum_payment,property_value,construction_type,occupancy_type,Secured_by,total_units,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
7973,32863,2019,cf,Joint,nopre,type1,p1,l1,nopc,nob/c,126500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,138000.0,mh,pr,land,1U,4860.0,CRIF,847,EXP,25-34,to_inst,91.666667,North,Indriect,1,20.0
32312,57202,2019,cf,Sex Not Available,nopre,type1,p2,l1,nopc,nob/c,76500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,178000.0,mh,pr,land,1U,3660.0,CRIF,538,EXP,65-74,to_inst,42.977528,south,Indriect,1,41.0
34412,59302,2019,cf,Female,nopre,type1,p1,l1,nopc,nob/c,56500,NaN,NaN,NaN,360.0,neg_amm,not_int,not_lpsm,58000.0,mh,pr,land,1U,2340.0,CRIF,530,CIB,35-44,to_inst,97.413793,south,Indriect,1,33.0
35368,60258,2019,cf,Sex Not Available,nopre,type3,p4,l1,nopc,nob/c,396500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,428000.0,mh,pr,land,1U,NaN,EXP,576,EXP,35-44,to_inst,92.640187,south,Indriect,1,NaN
36155,61045,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,106500,NaN,NaN,NaN,360.0,neg_amm,not_int,not_lpsm,108000.0,mh,pr,land,1U,5700.0,CIB,758,CIB,25-34,to_inst,98.611111,North,Indriect,1,36.0
41151,66041,2019,cf,Joint,pre,type3,p4,l1,nopc,nob/c,336500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,348000.0,mh,pr,land,1U,NaN,CRIF,748,EXP,25-34,not_inst,96.695402,North,Indriect,1,NaN
44592,69482,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,316500,NaN,NaN,NaN,360.0,neg_amm,not_int,not_lpsm,328000.0,mh,pr,land,1U,5280.0,CRIF,756,EXP,25-34,to_inst,96.493902,south,Indriect,1,42.0
46022,70912,2019,cf,Female,nopre,type2,p4,l1,nopc,b/c,126500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,128000.0,mh,pr,land,1U,2760.0,CIB,650,EXP,35-44,to_inst,98.828125,North,Indriect,1,38.0
47828,72718,2019,cf,Female,nopre,type2,p1,l1,nopc,b/c,66500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,88000.0,mh,pr,land,1U,2580.0,CIB,500,CIB,65-74,to_inst,75.568182,North,Indriect,1,61.0
56153,81043,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,176500,NaN,NaN,NaN,348.0,not_neg,not_int,not_lpsm,268000.0,mh,pr,land,1U,2460.0,CIB,745,CIB,45-54,to_inst,65.858209,south,Indriect,1,48.0
59732,84622,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,306500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,318000.0,mh,pr,land,1U,3420.0,EXP,695,CIB,25-34,not_inst,96.383648,North,Indriect,1,46.0
60122,85012,2019,cf,Male,nopre,type3,p1,l1,nopc,nob/c,86500,NaN,NaN,NaN,360.0,neg_amm,not_int,not_lpsm,88000.0,mh,pr,land,1U,1560.0,EXP,676,CIB,55-64,to_inst,98.295455,North,Indriect,1,31.0
62581,87471,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,116500,NaN,NaN,NaN,360.0,not_neg,int_only,not_lpsm,278000.0,mh,pr,land,1U,1620.0,EXP,678,CIB,55-64,to_inst,41.906475,North,Indriect,1,46.0
68927,93817,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,156500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,298000.0,mh,pr,land,1U,5220.0,CIB,772,CIB,55-64,not_inst,52.516779,North,Indriect,1,31.0
82520,107410,2019,cf,Male,nopre,type3,p3,l1,nopc,nob/c,266500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,448000.0,mh,pr,land,1U,4500.0,CIB,786,CIB,55-64,to_inst,59.486607,North,Indriect,1,41.0
85185,110075,2019,cf,Male,pre,type2,p1,l1,nopc,b/c,206500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,208000.0,mh,pr,land,1U,5160.0,CIB,529,CIB,45-54,to_inst,99.278846,North,Indriect,1,20.0
90473,115363,2019,cf,Male,nopre,type1,p4,l2,nopc,nob/c,126500,NaN,NaN,NaN,180.0,neg_amm,int_only,not_lpsm,138000.0,mh,pr,land,1U,4500.0,CIB,702,CIB,35-44,to_inst,91.666667,North,Indriect,1,30.0
91255,116145,2019,cf,Male,nopre,type1,p3,l1,nopc,nob/c,406500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,658000.0,mh,pr,land,1U,2400.0,CIB,638,CIB,45-54,not_inst,61.778115,North,Indriect,1,19.0
104761,129651,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,226500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,388000.0,mh,pr,land,1U,6600.0,CIB,713,CIB,35-44,not_inst,58.376289,North,Indriect,1,37.0
105639,130529,2019,cf,Joint,nopre,type2,p2,l2,nopc,b/c,106500,NaN,NaN,NaN,300.0,neg_amm,not_int,not_lpsm,138000.0,mh,pr,land,1U,3120.0,CIB,889,EXP,65-74,to_inst,77.173913,south,Indriect,1,47.0
106363,131253,2019,cf,Sex Not Available,nopre,type1,p1,l2,nopc,nob/c,266500,NaN,NaN,NaN,300.0,neg_amm,not_int,not_lpsm,328000.0,mh,pr,land,1U,5700.0,CRIF,734,CIB,35-44,to_inst,81.250000,south,Indriect,1,35.0
109160,134050,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,236500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,298000.0,mh,pr,land,1U,2700.0,EXP,758,EXP,65-74,to_inst,79.362416,central,Indriect,1,43.0
109448,134338,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,66500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,68000.0,mh,pr,land,1U,2760.0,EXP,792,CIB,35-44,to_inst,97.794118,North,Indriect,1,33.0
109934,134824,2019,cf,Sex Not Available,pre,type1,p3,l1,nopc,nob/c,226500,NaN,NaN,NaN,360.0,neg_amm,not_int,not_lpsm,288000.0,mh,pr,land,1U,2520.0,EXP,794,CIB,65-74,to_inst,78.645833,south,Indriect,1,40.0
120254,145144,2019,cf,Male,nopre,type1,p3,l1,nopc,nob/c,216500,NaN,NaN,NaN,360.0,not_neg,not_int,lpsm,548000.0,mh,pr,land,1U,2100.0,EXP,604,CIB,65-74,to_inst,39.507299,North,Indriect,1,46.0
122468,147358,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,286500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,308000.0,mh,pr,land,1U,4080.0,CIB,808,CIB,25-34,not_inst,93.019481,North,Indriect,1,31.0
123610,148500,2019,cf,Male,pre,type2,p1,l1,nopc,b/c,66500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,78000.0,mh,pr,land,1U,480.0,CIB,759,CIB,<25,to_inst,85.256410,North,Indriect,1,26.0
124614,149504,2019,cf,Joint,nopre,type3,p4,l1,nopc,nob/c,226500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,268000.0,mh,pr,land,1U,NaN,CRIF,769,EXP,65-74,not_inst,84.514925,North,Indriect,1,NaN
125783,150673,2019,cf,Sex Not Available,nopre,type2,p3,l1,nopc,b/c,126500,NaN,NaN,NaN,180.0,not_neg,not_int,lpsm,168000.0,mh,pr,land,1U,2160.0,EXP,850,EXP,35-44,to_inst,75.297619,south,Indriect,1,42.0
128515,153405,2019,cf,Male,nopre,type2,p4,l1,nopc,b/c,216500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,258000.0,mh,pr,land,1U,5160.0,EXP,537,CIB,55-64,not_inst,83.914729,North,Indriect,1,37.0
140486,165376,2019,cf,Female,nopre,type1,p1,l1,nopc,nob/c,456500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,508000.0,mh,sr,land,1U,30720.0,CRIF,883,CIB,35-44,not_inst,89.862205,North,Indriect,1,41.0
146525,171415,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,316500,NaN,NaN,NaN,360.0,not_neg,not_int,lpsm,428000.0,mh,pr,land,1U,10140.0,EXP,732,CIB,55-64,not_inst,73.948598,North,Indriect,1,22.0
148023,172913,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,376500,NaN,NaN,NaN,240.0,not_neg,not_int,not_lpsm,448000.0,mh,pr,land,1U,9000.0,CRIF,773,CIB,55-64,to_inst,84.040179,North,Indriect,1,30.0